{% extends "base.html" %}

{% block content %}
 {{ navstring }}
<div class="container-fluid">
  <div class="container-sm">
  <h1> Point {{ maincontent.FID }} in {{ maincontent.SITECODE }} in {{ maincontent.Region }}, {{ maincontent.Country }}</h1>
    <p class="p-4">
      <b>POINT INFORMATION</b>: This point at <span class="badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill p-2">{{ maincontent.POINT_Y }} {% if maincontent.POINT_Y > 0 %}N{% else %}S{% endif %}, {{ maincontent.POINT_X }} {% if maincontent.POINT_Y > 0 %}E{% else %}W{% endif %}</span> in {{ maincontent.SITECODE }} was potentially disturbed in 20{{ maincontent.LossYr }}. After evaluation of satellite imagery, it was rated as <span class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill p-2">{{ maincontent.myRating }}</span>.
    </p>
    <div id="map" class="p-3"></div>
    <div class="container-sm p-3">
      <div class='juxtapose' data-showcredits='false'>
        <img src='{{ maincontent.Image1 }}' data-label='{{ maincontent.BDate }}' />
        <img src='{{ maincontent.Image2 }}' data-label='{{ maincontent.ADate }}' />
      </div>
    </div>
    </div>
    </div>
  <div class="container-sm p-3">
  <h2 class="pt-3"> Site Information for {{maincontent.SITECODE}}: {{maincontent.SITENAME}}</h2>
    <p class="pl-3 pr-3">
      <b>SITE INFORMATION</b>: In {{ maincontent.Region }}, {{ maincontent.Country }}, the Natura 2000 site {{maincontent.SITENAME}} ({{ maincontent.SITECODE }})  with {{ siteHA | round}} hectares of protected area had {{ clearcutHA | round}} hectares potentially disturbed from 2001-2023. 
    </p> 
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-3"></div>
      <div class="p-4 col-sm-6" id="cut_thru_time">
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

{% endblock %}

{% block d3script %}
<script>
   window.onload = function () {
    var chart = new CanvasJS.Chart("cut_thru_time",
    {
     title:{
      text: "Disturbed Land Through Time at {{ maincontent.SITECODE }}"
    },
    axisX:{
      title: "Year",
      valueFormatString: "####",
      minimum: 2000,
      maximum: 2024
      },
    axisY:{
      title: "Hectares",
      minimum: -1,
      },
    toolTip: {
      shared: true,
      contentFormatter: function (e) {
        return "<strong>Year: </strong>" + e.entries[0].dataPoint.x + " <br /><b>Hectares Disturbed: </b>" +  Math.round(e.entries[0].dataPoint.y*100)/100;
        }
      },
    data: [
    {
     type: "line",
     dataPoints: [
      {% for item in graphdata %}
      { x: {{ item.x }}, y: {{ item.y}} },
      {% endfor %}
      ]
    }
    ]
 });

chart.render();
}
</script>
{% endblock %}


 {% block leafletscript %}
  <script>
  var map = L.map('map').setView([{{ maincontent.POINT_Y }}, {{ maincontent.POINT_X }}], 11);


  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  let polygon = L.geoJSON({{n2kPolygon}}, {color: 'red'}).addTo(map);

let itemPopupstring = "<h3>Point {{maincontent.FID}}</h3><br />This point in {{maincontent.SITENAME}}({{maincontent.SITECODE}}) in {{maincontent.country}} was rated as {{maincontent.myRating}}.";
L.marker([{{ maincontent.POINT_Y }}, {{ maincontent.POINT_X }}]).bindPopup(itemPopupstring).addTo(map);

 </script>

 {% endblock %}