<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary">A project of <a href="https://pfpi.net">Partnership for Policy Integrity</a>.</span>
  </div>
</footer>